In [285]:
import pandas as pd
import re
from datetime import date
from datetime import datetime
import numpy as np

In [286]:
df = pd.read_csv("~/Desktop/Data/ufo_sighting_data.csv", 
                 sep=",",
                 low_memory = False,
                 parse_dates=['Date_time', 'date_documented'])

In [287]:
df["latitude"]= df.latitude.replace("[A-z]", "", regex=True).astype(float)

In [288]:
df[['date','time']] = df['Date_time'].str.split(expand=True)
df['Date_time'] = (pd.to_datetime(df.pop('date'), format='%m/%d/%Y') + 
                  pd.to_timedelta(df.pop('time') + ':00'))

In [ ]:
#Question 4
#Write a Pandas program to get the oldest date

In [289]:
oldest = df.sort_values(by="Date_time").head(1)
oldest = str(oldest.iloc[0][0])
oldest = datetime.strptime(oldest, '%Y-%d-%m %H:%M:%S')
oldest

datetime.datetime(1906, 11, 11, 0, 0)

In [ ]:
#Write a Pandas program to get the current date

In [290]:
today = datetime.today()
today

datetime.datetime(2020, 6, 19, 18, 10, 10, 461297)

In [ ]:
#Write a Pandas program to get the number of days between Current date and oldest date of UfO dataset

In [309]:
time_dif = today - oldest
print("It has been" ,time_dif.days, "days since the oldest UFO sighting in the database")

It has been 41494 days since the oldest UFO sighting in the database

In [ ]:
#Question 5
#Write a Pandas program to extract year, month, day, hour, minute, second and 
#weekday from unidentified flying object (UFO) reporting date

In [296]:
df["Date_time"].dt.year.head(1)

0    1949
Name: Date_time, dtype: int64

In [295]:
df["Date_time"].dt.month.head(1)

0    10
Name: Date_time, dtype: int64

In [297]:
df["Date_time"].dt.day.head(1)

0    10
Name: Date_time, dtype: int64

In [298]:
df["Date_time"].dt.hour.head(1)

0    20
Name: Date_time, dtype: int64

In [299]:
df["Date_time"].dt.minute.head(1)

0    30
Name: Date_time, dtype: int64

In [300]:
df["Date_time"].dt.second.head(1)

0    0
Name: Date_time, dtype: int64

In [304]:
df["Date_time"].dt.dayofweek.head(1)

0    0
Name: Date_time, dtype: int64

In [306]:
df.empty

False

In [ ]:
#Question 6
#Write a Pandas program to check the empty values of 
#UFO (unidentified flying object) Dataframe.

In [308]:
print(np.where(pd.isnull(df)))

(array([    1,     2,     6, ..., 80322, 80322, 80324]), array([3, 2, 2, ..., 2, 3, 3]))